$base-color: #eeeeee;
$bg-color: #00695c;

body{
	padding: 0;
	margin:0;
	background-color: $bg-color;
	color: $base-color;
	font-family: sans-serif;
	max-width: 2400px;
	margin: auto;
}
.leaflet-container{
	background-color:transparent;
}
.left{
	height: 100vh;
	width: 40%;
	float: left;
	.header{
		height: 9%;
		font-size: 165%;
		margin-left: 5%;
		.title{
			padding-top: 2%;
		}
	}
	.filters{
		height: 21%;	
		margin-left: 5%;	
		width: 95%;
		overflow: visible;

		.update{
			display: inline-block;
			height: 30px;
			width: 20%;
			border: 2px solid #f9f9f9;
			border-radius: 2px;
			line-height: 200%;
			text-align: center;
			vertical-align: bottom;
			cursor: pointer;
			margin-bottom: 1vh;
		}
		.update.disabled{
			opacity: 0.5;
			cursor: initial;
		}
		.types{
			display: inline-block;
			vertical-align: bottom;
			width: 65%;
			height: 60%;
			.type{
    			padding-right: 30px;
    			padding-bottom: 2%;
				.label{
					display: inline-block;
					line-height: 15px;
					vertical-align: middle;
				}
			}
			.type.state .label{
				border-bottom: 1px solid;
			}
			.type.group .label{
				border-bottom: 1px dotted;
			}
			.type.onesided .label{
				border-bottom: 1px dashed;
			}

			.type {
				cursor: pointer;
				.selection{
					display: inline-block;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					border : 1px solid;
					cursor: pointer;
					vertical-align: middle;
					margin: auto;
					.selected{
						display: none;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						margin-left: 1px;
						margin-top: 1px;
						background-color: $base-color;
					}
				} 
			}
			.type.active {
				.selection{
					.selected{
						display: block;
					}
				}
			}
		}
		.years{
			width:96%;
			margin-right: 4%;
			vertical-align: top;
			height: 35%;
			.values{
				height: 20px;
				width: 100%;
			}
			.divider{
				float: left;
				width: 20%;
			}
			.year{
				float: left;
				height: 20px;
				width: 150px;
				font-size: 135%;
				position: relative;
				cursor: pointer;
				.left{
					text-align: left;
				}
				.right{
					text-align: right;
				}
				.label{
					margin-bottom: 5px;
					display: inline-block;
				}
				.dd{
					display: inline-block;
					width: 20%;
				    height: 100%;
				    background-image: url(../images/dd.png);
				    background-position: center;
				    background-size: 60%;
				    background-repeat: no-repeat;
				    margin-left: 6%;
				}
				.hidden{
					display: none;
					font-size: 75%;
					width: 65%;
					position: absolute;
					top:120%;
					background-color: $bg-color;
					border: 1px solid $base-color;
					.label{
						display: block;
						padding: 0 10px;
						padding-top: 15px;
						width: 100%;
					}
				}
			}
			#slider-range{
				border: 0;
				border-bottom: 0;
				border-radius: 0 !important;
				height: 2px;
				span{
					margin-left: 0;
				    width: 15px;
				    height: 15px;
				    border-radius: 50%;
				    margin-top: -3px;
				    cursor: pointer;
				}
			}
		}
	}
	#mapp{
		background-color: transparent;
		height: 73%;
		width: 95%;
		margin-left: 5%;
		color: #333;

		.leaflet-bar{
			box-shadow: 0 0 0;
			border: 1px solid $base-color;
			a{
				background-color: $bg-color;
				color: $base-color;
			}
		}
	}
}
.right{
	height: 676px;
	width: 60%;
	float: left;
	.keys{
		height: 8%;
		margin-right: 5%;
		.parameter{
			float: left;
		    width: 200px;
		    padding-top: 2%;
			.selection{
				float: left;
				width: 13px;
				height: 13px;
				border-radius: 50%;
				border : 1px solid;
				cursor: pointer;
				vertical-align: middle;
				margin: auto;
				margin-right: 10px;
				.selected{
					display: none;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					margin-left: 1px;
					margin-top: 1px;
					background-color: $base-color;
				}
			}
			.label{
			}
		}
		.parameter.active{
			.selected{
				display: block;
			}
		}
		
		.legends{
			padding-top: 2%;
			float: left;
			width: 40%;
			font-size: 75%;
			.legend{
				float: right;
				text-align: right;
			}
			.legend.first{
				color: #aaa;
			}
			.legend.second{
				color: #fff;
			}
		}
	}
	.viz{
		overflow-x: scroll;
		width: 100%;
		.indicator{
			height: 15%;
		}
		.timeline{
			height: 7%;
		}
		#dyads{
			height: 70%;
			svg{
				float: left;
			}
		}
	}
	
}
