body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  color: #4A4A4A;
  max-width: 2400px;
  margin: auto;
  font-size: 2vh;
  font-family: 'Roboto Condensed', sans-serif; }

.leaflet-container {
  background-color: transparent; }

.tooltipCont {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  display: none; }
  .tooltipCont .tooltip {
    border-radius: 5px;
    box-shadow: 0 0 5px;
    position: fixed;
    background-color: #f9f9f9;
    padding: 15px 10px;
    max-width: 150px; }
    .tooltipCont .tooltip .scale {
      display: block;
      padding: 5px 0; }

.info {
  padding-right: 17px;
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  background-size: auto 15px;
  background-position: right 0px;
  cursor: pointer;
  display: table;
  padding-top: 2px; }

.left {
  height: 100vh;
  width: 40%;
  float: left; }
  .left .header {
    height: 9%;
    margin-left: 4%;
    padding-top: 4%; }
    .left .header .sub {
      display: inline-block;
      vertical-align: bottom;
      width: 5%;
      height: 30%;
      background-image: url(../images/sub.png);
      background-position: center;
      background-size: auto 60%;
      background-repeat: no-repeat;
      border: 1px solid #EF5050;
      border-radius: 3px; }
      .left .header .sub.disabled {
        display: none; }
    .left .header .title {
      width: 91%;
      display: inline-block;
      vertical-align: top; }
      .left .header .title .country.label {
        font-weight: bold;
        display: block;
        font-size: 175%;
        margin-bottom: 0.5%; }
      .left .header .title .filter {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 150%; }
        .left .header .title .filter .selected {
          display: inline-block;
          color: #EF5050; }
        .left .header .title .filter .dd {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 5px;
          background-image: url(../images/dd.png);
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat; }
        .left .header .title .filter .hidden {
          z-index: 999;
          display: none;
          font-size: 60%;
          position: absolute;
          background-color: #f9f9f9;
          border: 1px solid #4A4A4A;
          padding: 0 15px; }
          .left .header .title .filter .hidden .label {
            display: block;
            padding: 10px 0;
            width: 100%;
            opacity: 0.7; }
            .left .header .title .filter .hidden .label.active {
              font-weight: bold;
              opacity: 1; }
        .left .header .title .filter.indicators .selected {
          color: #006e98; }
        .left .header .title .filter.indicators .dd {
          background-image: url(../images/dd_blue.png); }
      .left .header .title .label {
        display: inline-block;
        font-size: 150%; }
  .left .user_selection {
    height: 12%;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 150%;
    padding-top: 6%;
    font-size: 90%;
    font-style: italic; }
    .left .user_selection .static, .left .user_selection .dynamic {
      display: inline-block; }
    .left .user_selection .dynamic {
      padding: 0 3px;
      font-weight: bold;
      font-size: 120%; }
  .left .ctypes {
    height: 2%;
    width: 92%;
    margin: 0 4%;
    margin-top: 1%; }
    .left .ctypes .ctype {
      cursor: pointer;
      width: 32%;
      height: 100%;
      display: inline-block; }
      .left .ctypes .ctype .btn {
        width: 10%;
        height: 100%;
        border: 1px solid #4A4A4A;
        border-radius: 2px;
        display: inline-block;
        vertical-align: bottom; }
      .left .ctypes .ctype .label {
        display: inline-block;
        font-size: 90%; }
    .left .ctypes .ctype.active .btn {
      background-color: #EF5050;
      border: 0px solid; }
  .left #mapp {
    background-color: transparent;
    height: 65%;
    width: 90%;
    margin-left: 5%;
    color: #333; }
    .left #mapp .leaflet-bar {
      box-shadow: 0 0 0;
      border: 1px solid #4A4A4A; }
      .left #mapp .leaflet-bar a {
        background-color: #f9f9f9;
        color: #4A4A4A; }

.right {
  height: 100vh;
  width: 57%;
  margin-right: 2%;
  float: left; }
  .right .keys {
    height: 8%;
    width: 100%;
    font-size: 135%;
    font-weight: bold; }
    .right .keys .parameter {
      float: right;
      padding-top: 3%;
      padding-right: 2%; }
    .right .keys .legends {
      padding-top: 3%;
      float: right; }
      .right .keys .legends .legend {
        float: left; }
      .right .keys .legends .legend.first {
        color: #4A4A4A; }
      .right .keys .legends .legend.second {
        color: #006e98; }
  .right .viz {
    width: 100%;
    height: 90%; }
    .right .viz .indicator {
      height: 22%; }
    .right .viz .timeline {
      height: 5%;
      opacity: 0.6; }
    .right .viz #dyads {
      height: 73%;
      overflow: scroll; }
      .right .viz #dyads svg {
        float: left; }
    .right .viz #dyads::-webkit-scrollbar {
      display: none; }

/*# sourceMappingURL=main.css.map */
