body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  color: #4A4A4A;
  font-family: sans-serif;
  max-width: 2400px;
  margin: auto;
  font-size: 2vh; }

.leaflet-container {
  background-color: transparent; }

.left {
  height: 100vh;
  width: 40%;
  float: left; }
  .left .header {
    height: 9%;
    margin-left: 4%;
    padding-top: 4%; }
    .left .header .sub {
      display: inline-block;
      vertical-align: top;
      width: 5%;
      height: 30%;
      background-image: url(../images/sub.png);
      background-position: center;
      background-size: auto 60%;
      background-repeat: no-repeat;
      border: 1px solid #EF5050;
      border-radius: 3px; }
      .left .header .sub.disabled {
        display: none; }
    .left .header .title {
      width: 100%;
      display: inline-block;
      font-size: 105%;
      vertical-align: top; }
      .left .header .title .dynamic {
        display: inline-block;
        font-weight: bold; }
      .left .header .title .filter {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-weight: bold; }
        .left .header .title .filter .selected {
          display: inline-block;
          color: #EF5050; }
        .left .header .title .filter .dd {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 5px;
          background-image: url(../images/dd.png);
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat; }
        .left .header .title .filter .hidden {
          z-index: 999;
          display: none;
          font-size: 60%;
          position: absolute;
          background-color: #f9f9f9;
          border: 1px solid #4A4A4A;
          padding: 0 15px; }
          .left .header .title .filter .hidden .label {
            display: block;
            padding: 10px 0;
            width: 100%; }
        .left .header .title .filter.indicators .selected {
          color: #006e98; }
        .left .header .title .filter.indicators .dd {
          background-image: url(../images/dd_blue.png); }
      .left .header .title .label {
        display: inline-block; }
  .left .user_selection {
    height: 20%;
    width: 96%;
    margin-left: 4%;
    line-height: 150%; }
    .left .user_selection div {
      display: inline-block; }
  .left #mapp {
    background-color: transparent;
    height: 65%;
    width: 90%;
    margin-left: 5%;
    color: #333; }
    .left #mapp .leaflet-bar {
      box-shadow: 0 0 0;
      border: 1px solid #4A4A4A; }
      .left #mapp .leaflet-bar a {
        background-color: #f9f9f9;
        color: #4A4A4A; }

.right {
  height: 100vh;
  width: 60%;
  float: left; }
  .right .keys {
    height: 8%;
    margin-right: 5%; }
    .right .keys .parameter {
      float: right;
      padding-top: 3%;
      padding-right: 2%; }
    .right .keys .legends {
      padding-top: 3%;
      float: right; }
      .right .keys .legends .legend {
        float: left; }
      .right .keys .legends .legend.first {
        color: #4A4A4A; }
      .right .keys .legends .legend.second {
        color: #EF5050; }
  .right .viz {
    width: 100%;
    height: 90%; }
    .right .viz .indicator {
      height: 30%; }
    .right .viz .timeline {
      height: 5%; }
    .right .viz #dyads {
      height: 65%;
      overflow: scroll; }
      .right .viz #dyads svg {
        float: left; }
    .right .viz #dyads::-webkit-scrollbar {
      display: none; }

/*# sourceMappingURL=main.css.map */
